.card {
  display: flex;
  flex-direction: column;
  width: 48%;
  background-color: #f5f6f6;
  border-radius: 26px;
}
.card img {
  object-fit: cover;
  width: 100%;
  max-height: 400px;
  border-radius: 30px;
}
.card div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.card div div {
  flex-direction: column;
  gap: 10px;
}
.card div div p span {
  background-color: white;
  margin-left: 10px;
  border-radius: 12px;
  padding: 4px 8px 4px 8px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.pagination {
  display: flex;
  gap: 16px;
  margin-top: 40px;
  margin-left: 40px;
}
.pagination_btn {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: none;
  background-color: #f5f6f6;
  font-size: 24px;
}
.pagination_btn:disabled {
  border: 1px solid #282828;
}

.further_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  font-size: 24px;
  border-radius: 32px;
  border: none;
  padding: 0px 20px;
}
.further_btn::after {
  content: url(../../../assets/icons/arrow-toright.svg);
  margin-left: 12px;
  background-color: white;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
