.main_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
  gap: 62px;
}
.main_wrapper .images {
  min-width: 690px;
  max-width: 690px;
  min-height: 742px;
  max-height: 742px;
}
.main_left {
  min-width: 40%;
  min-height: 742px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 115px;
}

.main_left h2 {
  display: flex;
}

.main_left div:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 21px;
}

.inputs_wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}

.inputs {
  display: flex;
  gap: 12px;
  width: 100%;
}

.step2_wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 35%;
}

.titles {
  width: 70%;
}
.step3_second_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
}
.step3_radio {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.step3_radio div {
  display: flex;
  width: 100%;
  gap: 8px;
  cursor: pointer;
}

.step3_radio div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  gap: 8px;
  cursor: pointer;
}
.step4_wrapper {
  width: 100%;
}
.step4_second_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
  width: 100%;
}
.step4_second_wrapper div {
  width: 100%;
}
.main_wrapper_children {
  min-width: 50%;
  width: 100%;
}
.step4_inputs {
  width: 100%;
}
.check {
  display: flex;
  gap: 8px;
}
.immages_uploader {
  max-width: 200px;
  min-width: 200px;
}
.main_left .uploader {
  width: 100%;
  height: 170px;
  border: 1px solid #282828;
  background-color: #f5f6f6;
  border-radius: 33px;
  padding: 16px 20px 16px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7c7c7c;
}
