.card {
  display: flex;
  margin-top: 34px;
  gap: 34px;
}

.travel_wrapper {
  margin-top: 180px;
}
.travel_titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.travel_titles p {
  align-self: center;
  width: 30%;
  text-align: center;
}
